* {
  margin: 0;
  padding: 0;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/img/cloud-background.png");
  background-size: 45rem 22rem;
  background-position: 0rem 6rem;
  opacity: 0.2;
  animation: bgnMove 100s linear infinite;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: #f3f3f3;
}

.location {
  padding: 1rem;
  /* border: 1px solid #222222; */
}

.location__title {
  margin-top: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.location__date {
  margin-top: 0.3rem;
  font-size: 1.3rem;
  font-weight: 200;
}

.menu__mobile {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 30%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f34;
  cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__img {
  width: auto;
  height: fit-content;
  display: flex;
}

.weather__temp {
  margin-top: -2rem;
  font-size: 3rem;
  font-weight: 300;
}

.weather__temp span {
  font-size: 7rem;
  font-weight: 600;
}

.weather__maxmin {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  color: #ffffffb2;
}

.maxmin {
  text-align: center;
}

.maxmin__temp {
  font-size: 1rem;
  font-weight: 300;
}

.maxmin span {
  font-size: 2.2rem;
  font-weight: 400;
}

.maxmin__title {
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 1px solid #e6e6e688;
}

.refresh__btn {
  margin-top: 1rem;
  width: 2.3rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #3f3f3f34;
  cursor: pointer;
  z-index: 10;
}

.fa-arrow-rotate-right {
  color: #f2f2f2;
  font-size: 1.2rem;
}

.fa-arrow-rotate-right:active {
  color: #dbdbdb;
  transform: scale(0.9);
}

.info {
  display: flex;
  flex-direction: column;
}

.toggle__switch {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 8rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  background-color: #3f3f3f2c;
}

.toggle {
  font-size: 1.3rem;
  font-weight: 300;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: #9fb947;
  display: block;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #133b61;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.info__title {
  /* margin-top: 8rem; */
  font-size: 4rem;
  font-weight: 600;
}

.info__subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.bar {
  margin: 0 auto 2rem;
  width: 60vw;
  height: 10rem;
  display: none;
  justify-content: space-evenly;
  color: #f2f2f2;
  background-color: #3f3f3f81;
  border-radius: 1.3rem;
  z-index: 100;
}

.card {
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.card__icon {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.card__span {
  font-size: 1.2rem;
  font-weight: 400;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff3f7;
}

.loading__circle {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top-color: transparent;

  animation: spin 1s linear infinite;
}

/* MEDIAQUERIES (Width: 320px) */
@media screen and (max-width: 1024px) {
  .App {
    width: 100vw;
    height: 100vh;
  }

  .App::before {
    background-size: 22rem;
    opacity: 0.2;
    animation: bgnMove 100s linear infinite;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location {
    margin: 0;
  }

  .location__title {
    margin: 0;
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 1.4rem;
  }

  .location__date {
    margin: 0;
    position: absolute;
    top: 3.5rem;
    left: 3rem;
    font-size: 1rem;
  }

  .refresh__btn {
    margin: 0;
    width: 2.2rem;
    position: absolute;
    top: 2rem;
    right: 4rem;
    border-radius: 30%;
    z-index: 100;
  }

  .menu__mobile {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 100;
  }

  .bar {
    margin: 0;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    flex-direction: column;
    align-items: flex-end;
    background-color: #3f3f3fa8;
  }

  .fa-xmark {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    left: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #3f3f3f6c;
  }

  .card__title {
    font-size: 0.9rem;
  }

  .card__icon {
    font-size: 1.2rem;
  }

  .card__span {
    font-size: 1rem;
  }

  .weather {
    margin-top: 4rem;
  }

  .weather__temp {
    margin-top: -3rem;
    font-size: 2.3rem;
  }

  .weather__temp span {
    font-size: 4.5rem;
  }

  .weather__maxmin {
    width: 8.5rem;
    justify-content: space-evenly;
  }

  .weather__maxmin span {
    font-size: 1.2rem;
  }

  .toggle__switch {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 7rem;
    height: 2.2rem;
    position: relative;
    top: -0.5rem;
    left: 14%;
    z-index: 100;
  }

  .toggle {
    font-size: 1.1rem;
  }

  label {
    width: 3rem;
    height: 1.5rem;
  }

  label::after {
    width: 1rem;
  }

  .info__title {
    margin-left: -2rem;
    font-size: 2.3rem;
  }

  .info__subtitle {
    margin-left: 2rem;
    font-size: 1.1rem;
  }
}
/* MEDIAQUERIES (Width: 375px) */
@media screen and (min-width: 375px) {
  .bar {
    align-items: center;
  }

  .fa-xmark {
    top: 0.8rem;
    left: 0.5rem;
    font-size: 1.2rem;
  }

  .location__title {
    font-size: 1.5rem;
  }

  .location__date {
    top: 3.7rem;
    font-size: 1.2rem;
  }

  .menu__mobile {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
  }

  .card__title {
    font-size: 1rem;
  }

  .card__icon {
    font-size: 1.5rem;
  }

  .card__span {
    font-size: 1.1rem;
  }

  .refresh__btn {
    right: 4.8rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
  }

  .weather__temp span {
    font-size: 6rem;
  }

  .weather__maxmin {
    width: 10rem;
  }

  .weather__maxmin span {
    font-size: 1.8rem;
  }

  .toggle__switch {
    margin-bottom: 4rem;
    padding: 0.1rem;
    top: -1rem;
    left: 17%;
    width: 8rem;
    height: 2.5rem;
  }

  .toggle {
    font-size: 1.5rem;
  }

  .info__title {
    font-size: 3rem;
  }

  .info__subtitle {
    font-size: 1.5rem;
  }
}
/* MEDIAQUERIES (Width: 425px) */
@media screen and (min-width: 425px) {
  .fa-xmark {
    font-size: 1.2rem;
  }
}
/* MEDIAQUERIES (Width: 560px) */
@media screen and (min-width: 560px) {
  .App::before {
    background-size: 25rem;
  }

  .bar {
    width: 50vw;
  }

  .fa-xmark {
    font-size: 1.2rem;
  }
}
/* MEDIAQUERIES (Width: 768px) */
@media screen and (min-width: 768px) {
  .App::before {
    background-size: 30rem;
  }

  .location__title {
    font-size: 1.8rem;
    left: 4rem;
  }

  .location__date {
    font-size: 1.3rem;
    top: 4rem;
    left: 8.5rem;
  }

  .refresh__btn {
    width: 2.5rem;
    height: 2.5rem;
    right: 8rem;
  }

  .menu__mobile {
    width: 2.5rem;
    height: 2.5rem;
    right: 4rem;
  }

  .fa-xmark {
    left: 0.6rem;
    font-size: 1.8rem;
  }

  .card__title {
    font-size: 1rem;
  }

  .card__icon {
    font-size: 1.5rem;
  }

  .card__span {
    font-size: 1rem;
  }

  .weather {
    margin-top: 10rem;
  }

  .weather__temp span {
    font-size: 7rem;
  }

  .weather__maxmin span {
    font-size: 2rem;
  }

  .toggle__switch {
    width: 8rem;
    height: 2.5rem;
    left: 24.3%;
  }

  .toggle {
    font-size: 1.5rem;
  }

  .info__title {
    font-size: 4rem;
  }

  .info__subtitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1025px) {

  .App::before {
    background-size: 40rem;
  }

  .weather {
    margin: 0;
  }

  .menu__mobile {
    display: none;
  }

  .bar {
    display: flex;
  }

  .fa-xmark {
    display: none;
  }

  label::after {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 70vw;
    height: 70vh;
  }
}

/* ANIMATIONS */
/* Loading spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Background clouds */
@keyframes bgnMove {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100vw;
  }
}
